<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:20</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.driverSetup()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&gt;&gt;driverSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:20</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:24</td>   <td>4276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.launch()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">launch</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:24</td>   <td>4304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:24</td>   <td>4425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:26</td>   <td>6686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.login()[pri:1, instance:pom.testNGwithPOM@604ed9f0]">login</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:27</td>   <td>7274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:29</td>   <td>9589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:31</td>   <td>11755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.openManagement()[pri:2, instance:pom.testNGwithPOM@604ed9f0]">openManagement</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:34</td>   <td>14349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:36</td>   <td>16679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:38</td>   <td>18861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.newLeave()[pri:3, instance:pom.testNGwithPOM@604ed9f0]">newLeave</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:42</td>   <td>22105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:44</td>   <td>24442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:46</td>   <td>26628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.openTimeSheet()[pri:4, instance:pom.testNGwithPOM@604ed9f0]">openTimeSheet</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:48</td>   <td>27978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:50</td>   <td>30289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:52</td>   <td>32609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.newTimeSheet()[pri:5, instance:pom.testNGwithPOM@604ed9f0]">newTimeSheet</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:54</td>   <td>34516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:54</td>   <td>34609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:56</td>   <td>36832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.logout()[pri:6, instance:pom.testNGwithPOM@604ed9f0]">logout</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/18 09:29:56</td>   <td>36856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@604ed9f0]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
</table>
