<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cycle1</td><td>priorityTest.test1()[pri:0, instance:testNG.priorityTest@e25b2fe]<br/>priorityTest.test2()[pri:1, instance:testNG.priorityTest@e25b2fe]<br/></td></tr>
<tr><td>smoke</td><td>priorityTest.test2()[pri:1, instance:testNG.priorityTest@e25b2fe]<br/></td></tr>
</table>
