<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>0</td> <td title="&gt;&gt;testing.beforeSuite()[pri:0, instance:testNG.testing@77cd7a0]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:30:52</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.driverSetup()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&gt;&gt;driverSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;testing.beforeTest()[pri:0, instance:testNG.testing@77cd7a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/09 12:30:52</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="priorityTest.test3()[pri:-1, instance:testNG.priorityTest@e25b2fe]">test3</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/09 12:30:52</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="priorityTest.test1()[pri:0, instance:testNG.priorityTest@e25b2fe]">test1</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/09 12:30:52</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="priorityTest.test4()[pri:0, instance:testNG.priorityTest@e25b2fe]">test4</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/09 12:30:52</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="priorityTest.test5()[pri:0, instance:testNG.priorityTest@e25b2fe]">test5</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testing.beforeClass()[pri:0, instance:testNG.testing@77cd7a0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testing.beforeMethod()[pri:0, instance:testNG.testing@77cd7a0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testing.f(java.lang.Integer, java.lang.String)[pri:0, instance:testNG.testing@77cd7a0]">f</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testing.afterMethod()[pri:0, instance:testNG.testing@77cd7a0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testing.beforeMethod()[pri:0, instance:testNG.testing@77cd7a0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testing.f(java.lang.Integer, java.lang.String)[pri:0, instance:testNG.testing@77cd7a0]">f</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testing.afterMethod()[pri:0, instance:testNG.testing@77cd7a0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>17/01/09 12:30:52</td>   <td>95</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testing.afterClass()[pri:0, instance:testNG.testing@77cd7a0]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:30:52</td>   <td>95</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:30:55</td>   <td>3052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.launch()[pri:0, instance:pom.testNGwithPOM@204f30ec]">launch</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:30:55</td>   <td>3079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/01/09 12:30:58</td>   <td>5424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="priorityTest.test2()[pri:1, instance:testNG.priorityTest@e25b2fe]">test2</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:30:58</td>   <td>5428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:00</td>   <td>7850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.login()[pri:1, instance:pom.testNGwithPOM@204f30ec]">login</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:01</td>   <td>8422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:01</td>   <td>8509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:03</td>   <td>10936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.openManagement()[pri:2, instance:pom.testNGwithPOM@204f30ec]">openManagement</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:05</td>   <td>13139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:08</td>   <td>15450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:10</td>   <td>17672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.newLeave()[pri:3, instance:pom.testNGwithPOM@204f30ec]">newLeave</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:13</td>   <td>20463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:17</td>   <td>24744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:19</td>   <td>27008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.openTimeSheet()[pri:4, instance:pom.testNGwithPOM@204f30ec]">openTimeSheet</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:20</td>   <td>28097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:23</td>   <td>30405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:25</td>   <td>33241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.newTimeSheet()[pri:5, instance:pom.testNGwithPOM@204f30ec]">newTimeSheet</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:27</td>   <td>35236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:27</td>   <td>35310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testNGwithPOM.init()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:30</td>   <td>37675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testNGwithPOM.logout()[pri:6, instance:pom.testNGwithPOM@204f30ec]">logout</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/01/09 12:31:30</td>   <td>37687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;testNGwithPOM.close()[pri:0, instance:pom.testNGwithPOM@204f30ec]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
</table>
